{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Patient{% endblock %}

{% block body %}
    <h1>Modifier Les Informations du patient</h1>

    {{ include('patient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('patient_index') }}">back to list</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
