{{ form_start(form) }}
    {{ form_row(form.motif, {attr:{'class':'form-control'}}) }}
    <input type="datetime-local" name="heuremotif" class="form-control">
    <button class="btn btn-sm btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
