{% extends 'baseAdmin.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <h3>Creer un nouveau service</h3>

                    </div>
                    <div class="panel-body">

                        {{ include('service/_form.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <a href="{{ path('service_index') }}">back to list</a>
    </div>

{% endblock %}
