{% extends 'base.html.twig' %}

{% block title %}Edit MedecinServiceHopital{% endblock %}

{% block body %}
    <h1>Edit MedecinServiceHopital</h1>

    {{ include('medecin_service_hopital/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('medecin_service_hopital_index') }}">back to list</a>

    {{ include('medecin_service_hopital/_delete_form.html.twig') }}
{% endblock %}
