{% extends 'base.html.twig' %}

{% block title %}Edit Hopital{% endblock %}

{% block body %}
    {% include('./extensions/navbar.html.twig') %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading bg-primary">
                        <h3>Modifier Hopital</h3>
                    </div>
                    <div class="panel-body">

                        {{ include('hopital/_form.html.twig', {'button_label': 'Update'}) }}

                        {{ include('hopital/_delete_form.html.twig') }}

                    </div>
            </div>
        </div>
            <a href="{{ path('hopital_index') }}">back to list</a>

        </div>
    </div>

{% endblock %}
